@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
